{% extends 'base.html.twig' %}

{% block title %}Sites Enregistrés
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/modal.css')}}" rel="stylesheet"/>
	<link rel="stylesheet" href="{{ asset('assets/css/historique.css')}}" rel="stylesheet"/>

{% endblock %}

{% block titre %}
	<h1 class="text-center">Sites Enregistrés</h1>
{% endblock %}

{% block body %}

	<div class='alert alert-danger' id="responseMessageBad"></div>
	<div class='alert alert-success' id="responseMessage"></div>
	{% if is_mobile() or is_tablet() %}
		{% for site in sites %}
			<div class="card m-auto mb-4" style="width: 18rem;">
				<div class="card-body text-center">
					<h5 class="card-title border-bottom mb-3 pb-3">{{site.nom}}
						<i class="fa-sharp fa-solid fa-circle-xmark clickIcon deleteBtn" date-delnom="{{site.nom}}" data-link="{{ path('app_sites_filesupp', {id : site.id})}}" title="supprimer"></i>
						({{site.url}}
						<i class="fa-solid fa-pen clickIcon updateIcon" data-id="{{site.id}}" title="modifier" data-toggle='modal' data-target='#modal-1'></i>)</h5>

					{% for fichier in site.fichiers %}
						<div class="border-bottom mb-3 pb-3">
							<h6 class="card-subtitle mb-2 text-muted">{{ fichier.Date.date|date("d/m/Y") }}</h6>
							<p class="card-text">{{ fichier.type }}</p>
							<a href="/assets/uploads/{{ fichier.type }}s/{{ fichier.nom_bdd }}" class="card-link">{{ fichier.nom_pour_utilisateur }}</a>
						</div>
					{% endfor %}
				</div>
			</div>
		{% endfor %}
	{% else %}
		<table id="historique-table" class=" table-striped ">
			<thead>
				<tr>
					<th scope="col" class="flex-th">Sites
						<label for="selectAll">Tout cocher</label>
						<input type="checkbox" name="selectAll" id="selectAll">
					</th>
					<th scope="col">Url</th>
					<th scope="col">Traduction d'article</th>
					<th scope="col">Spin D'article traduits</th>
					<th scope="col">Liste des titres traduits</th>
					<th scope="col">Images extraites d'articles</th>
					<th scope="col">
						<button id="multiSppBtn" class="btn btn-sm btn-primary m-2 allWaButton">Supprimer les sites séléctionnés</button>
					</th>
				</tr>
			</thead>
		
			<tbody>
				{% for site in sites %}
					<tr scope="row">
						<td><input type="checkbox" class="selectCheckbox" data-id="{{site.id}}" name="select-{{site.id}}" id="select-{{site.id}}">{{site.nom}}</td>
						<td class="urlBox">
							<a target="_blank" href="{{site.url}}">{{site.url}}</a>
							<i class="fa-solid fa-pen clickIcon updateIcon" data-id="{{site.id}}" title="modifier" data-toggle='modal' data-target='#modal-1'></i>
						</td>
						<td>
							{% for fichier in site.fichiers %}
								{% if fichier.type == "traduction" %}
									<a href="/assets/uploads/{{ fichier.type }}_files/{{ fichier.nom_bdd }}">{{ fichier}}</a>
								{% endif %}
							{% endfor %}
						</td>
						<td>
							{% for fichier in site.fichiers %}
								{% if fichier.type == "spin" %}
									<a href="/assets/uploads/{{ fichier.type }}_files/{{ fichier.nom_bdd }}">{{ fichier}}</a>
								{% endif %}
							{% endfor %}
						</td>
						<td>
							{% for fichier in site.fichiers %}
								{% if fichier.type == "liste" %}
									<a href="/assets/uploads/{{ fichier.type }}_files/{{ fichier.nom_bdd }}">{{ fichier}}</a>
								{% endif %}
							{% endfor %}
						</td>
						<td>
							{% for fichier in site.fichiers %}
								{% if fichier.type == "zip" %}
									<a href="/assets/uploads/{{ fichier.type }}_files/{{ fichier.nom_bdd }}">{{ fichier}}</a>
								{% endif %}
							{% endfor %}
						</td>
						<td>
							<i class="fa-sharp fa-solid fa-circle-xmark clickIcon deleteBtn" date-delnom="{{site.nom}}" data-link="{{ path('app_sites_filesupp', {id : site.id})}}" title="supprimer"></i>

						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
	<div class="modal" id="modal-1">
		<div class="modal-content">
			<iframe id="changeUrlIframe" src="" frameborder="0"></iframe>
		</div>
	</div>

	<div class="col-12 text-center">
		{% if previous >= 0 %}
			<a href="{{ path('app_sites', {offset: previous}) }}" class="btn btn-sm btn-primary m-0 allWaButton">
				previous
			</a>
		{% endif %}

		{% if pageActuelle <= 3 %}
			{%if pageActuelle > 1 %}
				{% for i in 2..pageActuelle %}
					<a href="{{ path('app_sites', {offset: previous - (offset * (pageActuelle - i))})}}" class="btn btn-sm btn-primary m-3 allWaButton">{{ i - 1 }}</a>
				{% endfor %}
			{% endif %}
		{% else %}
			{% for i in pageActuelle-2..pageActuelle %}
				<a href="{{ path('app_sites', {offset: previous - (offset * (pageActuelle - i))})}}" class="btn btn-sm btn-primary m-3 allWaButton">{{ i - 1 }}</a>
			{% endfor %}
		{% endif %}


		<span class="btn btn-sm btn-primary m-3 bg-warning">
			{{ pageActuelle }}</span>


		{% if difPages < 3 %}
			{% if  difPages > 0 %}
				{% for i in 1..difPages %}
					<a href="{{ path('app_sites', {offset: next + (offset * (i - 1)) }) }}" class="btn btn-sm btn-primary m-3 allWaButton">{{ pageActuelle + i }}</a>
				{% endfor %}
			{% endif %}
		{% else %}
			{% for i in 1..3 %}
				<a href="{{ path('app_sites', {offset: next + (offset * (i - 1)) }) }}" class="btn btn-sm btn-primary m-3 allWaButton">{{ pageActuelle + i }}</a>
			{% endfor %}
		{% endif %}

		{% if next < sites|length %}
			<a href="{{ path('app_sites', {offset: next }) }}" class="btn btn-sm btn-primary m-0 allWaButton">next
			</a>
		{% endif %}

		<p>{{ pageActuelle }}
			/
			{{ nbrePages }}</p>
	</div>
{% endblock %}

{% block javascripts %}
	<script>
		let deleteBtn = document.querySelectorAll('.deleteBtn');

deleteBtn.forEach((btn) => {
btn.addEventListener('click', () => {
let supp = window.prompt (`Pour valider la suppression du site ${
btn.dataset.delnom
} et de tous ses fichiers associés tapez "Suppression"`, "")
if (supp == "Suppression") {
window.location.replace(btn.dataset.link);
}
})

});
	</script>
	<script src="{{ asset('assets/js/sites.js')}}"></script>
	<script src="{{ asset('assets/js/sites-modal.js')}}"></script>

{% endblock %}
