{% extends 'base.html.twig' %}

{% block title %}Extracteurs d'images
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/extracteur-images.css')}}" rel="stylesheet"/>

{% endblock %}

{% block titre %}
	<h1 class="text-center">Extraction des images d'articles wordpress</h1>
{% endblock %}
{% block body %}


	<h2 class="text-center font-italic mb-5">Ici on récupère les médias attachés aux articles d'un Wordpress</h2>

	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link active" href="{{path('app_spinnerman')}}">Extraire des images</a>
		</li>
		<li class="nav-item">
			<a class="nav-link " href="{{path('app_extracteur_historique')}}">Historique</a>
		</li>
	</ul>
	{# on affiche le formulaire pour envoyer un fichier #}
	{{ form_start(form) }}
	<div id="inputContainer">
		{{ form_row(form.nom_blog) }}
		<div id="matchList"></div>
	</div>
	<div id="linkContainer">
		{{ form_row(form.xmlArticlesWP) }}
	</div>
	{{ form_end(form) }}
	<div id='response_container'></div>


{% endblock %}
{% block javascripts %}

	<script type="text/javascript">
		let xml = {{ xml|json_encode()|raw }};
	</script>
	
	<script type="module" src="{{ asset('assets/js/extracteur-images.js')}}"></script>
{% endblock %}
